.txt-time {
    
}

.txt-HA {
font-weight: 500;
font-size: 15px;
color: #66BFBF;
}

.icon-red {
    color: red;
    padding: 0 5px;
    font-weight: 500;
}

.txt-info-number {
    font-size: 15px;
    font-weight: 500;
    color: crimson;
}

.status-time-container{
    display: flex;
    align-items: center;
}

.status-container {
    border-radius: 5px;
    padding: 5px 12px;
    border-width: 2px;
    /* border:2px solid #0888E4; */
    background-color: #A3D8FF;
    color: #0888E4;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
}

.line-container{
    background-color: #e1d6d6;
    height: 1px;
    width: 300px;    
    margin: 5px 0px;
}

.info-detail-container{
    background-color: #eaeffd;
    padding: 10px 15px;
    width: 500px;
    margin: 30px 15px;
    border-radius: 8px;
    box-shadow:
    0 2px 8px 0 rgba(0, 0, 0, 0.8)}
.txt-info {
    color: black;
    font-size: 14px;
}

.non-schedule-text{
    font-size: 15px;
    color: #42C2FF;
    text-align: center;
    font-weight: 500;
}

.non-schedule-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.icon-send{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-add-container {
    margin: 10px 10px;
}
.image-send {
    width: 400px;
   height: 300px;
    border-radius: 15px;
    contain: size;
    margin: 10px;
}

.name-patient-chat {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.txtEmpty {
    font-size: 16px;
    font-weight: 500;
    color: #646FD4;
    padding: 10px 20px;
}
.empty-chat-view {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.empty-chat-container {
    justify-content: center;
   
    flex-direction: column;
    align-items: center;
   display: flex;
    margin: 100;
}

.main-patient-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.patient-selected{
    background-color: #F6F6F9;
}

.avatar-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 20px;
    
}


.name-message-component {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-date-message-component {
    flex: 2;
    font-size: 14px;
}

.main-sender-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
    margin-right: 25px;
}

.main-receiver-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    margin-right: 25px;
}

.main-info-receiver-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    margin-right: 50px;
}



.message-sender-container {
    
    background-color: #42C2FF;
    padding: 7px 15px;
        border-radius: 15px;
    color: 'white';
    flex-direction: row;
    justify-content: flex-start;
}

.main-date-container {
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: grey;
    display: flex;
    padding: 10px;
}

.message-receiver-container {
    
    background-color: #F6F6F9;
    padding: 7px 15px ;
    border-radius: 15px;
    flex-direction: row;
    justify-content: flex-start;
}

.message-info-receiver-container {
    background-color: #F6F6F9;
    padding: 7px 15px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 100px;
}

.message-sender {
    color: white;
    font-weight: '500';
    font-size: 14px;
}

.message-receiver {
    color: black;
    font-weight: '500';
    font-size: 14px;
}

.screen-chat{

  /* flex: 1; */
    box-shadow: 0 2px 5px 0 rgba(26, 217, 255, 0.16), 0 2px 10px 0 rgba(57, 165, 145, 0.12) !important;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important; */
  font-size: calc(10px + 2vmin);
  height: 90vh;
  width: 100%;
  display: flex;
  border: #F2f2f2 solid 1px;
  
}

.patient-avatar-chat {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 5px;
    align-items: center;
}

.header-chat{
   
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    align-items: center;
    border: #F2f2f2 solid 2px;
    /* background-color: #BBBBBB; */
    box-shadow: 0 2px 5px 0 rgba(26, 217, 255, 0.16), 0 2px 10px 0 rgba(57, 165, 145, 0.12) !important;
}

.list-chat-container{
    width: 25%;
    height: 100%;
    display: flex;
    background-color: white;
    padding-left: 0.05vw;
    padding-right: 0.05vw;
    padding-top: 0.05vh;
    justify-content: flex-start;
    flex-direction: column;
    border: #F2f2f2 solid 1px;
    
}

.chat-container{
    display: flex;
    width: 75%;
    height: 100%;
    /* background-color: #68A7AD; */
    flex-direction: column;
}

.img-patient {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.chat-content-container{
    padding: 20;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 70vh;

}

.input-send-container{
   height: 8vh;
   justify-content: center;
   display: flex;
   align-items: center;
}

.input-send {
    width: 90%;
    height: 6vh;
    border-width: 0ch;
    border-radius: 15px;
    border: solid 1px white;
    outline: none;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E8F9FD;
}