
.App {
  margin: 0;
  padding: 0;
}

.container{
 margin-right: 20px !important;
  padding-right: 0px;
  width: 100% !important;
  padding-top: 30px;
  padding-left: 120px;
  padding-bottom: 30px;
  transition: padding-left .2s ease-in;
 
  box-sizing: border-box;
  /* background-color: #E3F2FD; */
  border-radius: 25px;
}

.container.inactive{
  padding-left: 0px;
  margin-left: 100px!important;
  margin-right: 0px !important;
  padding-right: 0px;
 
}



.container-main-chat {
margin-right: 20px !important;
padding-right: 0px;
padding-left: 20px;
width: 100% !important;
transition: padding-left .2s ease-in;
background-color: white;
border-radius: 0px;
/* opacity: 0.3; */
}

.container-main-chat.inactive {
  padding-left: 0px;
  margin-left: 115px !important;
  margin-right: 0px !important;
  padding-right: 0px;
}

#input[type="file"] {
  display: none;
}
